#projects {
  .three-column {
    display: none;
    &.active {
      display: block;
      @media screen and (min-width: 840px) {
        display: flex;
      }
    }
  }
  .links{
    text-align: right;
    a {
      display: inline-block;
      width: 45px;
      height: 51px;
    }
  }
  .show_more-wrapper {
    margin: 20px 0;
    text-align: right;
    button.hidden {
      display: none;
    }
  }
}