</div> <!-- close the content wrapper -->
<div class="section no-padding featured_image" style="background-image: url('{{image_url}}')">
    {{#if page_title}}
        <div class="caption-wrap desktop">
            <div class="caption">
                {{{page_title}}}
            </div>
        </div>
    {{/if}}
</div>
<div class="content_wrapper large-top-padding">
    <div class="mobile">
        {{{page_title}}}
    </div>